@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  background: linear-gradient(68.15deg, #090979 16.62%, #00d4ff 85.61%);
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
  height: 90px;
}

.header a img {
  height: 72px;
}

.header nav {
  display: flex;
  gap: 32px;
}

.header nav a {
  font-family: 'Poppins', sans-serif;
  color: #FFF2E7;
  font-weight: 400;
  font-size: 18px
}

.main {
  margin-bottom: 48px;
  border-top: 0.4px solid hsl(20, 4%, 85%);
}

.main section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
  margin-bottom: 160px ;
}

.main section img {
  width: 480px;
  height: 260px;
  border-radius: 20px;
}

.main section div {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.main section div h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 46px;
  color: #FFF2E7;
}

.main section div h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 28px;
  color: #ECD6C4;
}

.main section button {
  background-color: #019bba;
  width: 170px;
  height: 60px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #2F2325;
}

.main section button:hover {
  background-color: rgba(236, 214, 196, 0.53);
}

.footer {
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;
}

.footer img {
  height: 48px;
  display: block;
  margin: 0 auto;
}